@import"variables";

*{ /* para reset */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 

.carousel-item {
    height: 65vh;
    min-height: 600px;
    
}

.bg-menu {
    background-color: $color-principal;
}

.bg-crs {
    background-color: $color-fondo;
    border-radius: 10px;
}

main { /* para el contenido  */
   
    border: 10px solid $color-main;
    
  }

.contacto{ /* para el formulario */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}